
@{
    ViewData["Title"] = "Plano de Contas";
}
<h1>@ViewData["Title"]</h1>

@* <button type="button" class="btn btn-block btn-primary" onclick="Novo()">Criar item do Plano de Conta</button> *@

<a 
    class="btn btn-block btn-primary"
    asp-controller="PlanoConta"
    asp-action="Cadastrar">
    Criar item do Plano de Conta
</a>

<br>
<br>

<table class="table table-bordered table-dark">

    <tr>
        <th scope="col">Id</th>
        <th scope="col">Descrição</th>
        <th scope="col">Tipo</th>
        <th scope="col">#</th>
        <th scope="col">#</th>

    </tr>
    @{
        foreach (var item in (List<PlanoContaModel>)ViewBag.ListaPlanoConta)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Descricao</td>
                <td>@item.Tipo</td>

                <td>
                    <a class="btn btn-block btn-outline-warning"
                       asp-controller="PlanoConta"
                       asp-action="Cadastrar"
                       asp-route-id="@item.Id">
                        Editar
                    </a>
                </td>

                <td>
                    <a class="btn btn-block btn-outline-danger"
                       asp-controller="PlanoConta"
                       asp-action="Excluir"
                       asp-route-id="@item.Id">
                        Excluir
                    </a>
                </td>
                
            </tr>
        }
    }

</table>
